<h2>CREATE</h2>

<form action="/create" method="POST">
    <div class="input-field">
        <label for="label">Todo title</label>
        <input type="text" name="label" />
    </div>

    <button type="submit" class="btn">Create</button>
</form>
